@import "main.module.scss";


@media only screen and (min-width: 900px) {
  .link:hover {
    transform: scale(1.1, 1.1) !important;

    & img {
      transform: scale(1, 1);

      transition: 0.5s;
    }
  }
}


.link {
  padding: 16px !important;
  & img {
    transition: 0.5s;
    object-fit: cover;
  }
}

.box1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1px;
  width: 100%;

  & p {
    align-self: center;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    flex: 33.3%;

  }
}

.price {
  margin-top: 5px !important;
}

.priceContainer {
  height: auto;
  margin-top: 25px !important;
}

.card {
  display: flex;
  border-radius: 15px !important;
  flex-direction: column;
  height: 482px;

  & > div:first-child {
    position: relative;
    flex: 40% 1;
  }

  & .titleContainer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    height: 50px;
    background: linear-gradient(
                    0deg, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, .001));
    padding: 0 8px;
    color: #fff !important;

    & p {
      height: 28px !important;
      line-height: 28px !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
    }
  }

  & .statusContainer {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  & .bookmarkBtn {
    position: absolute;
    left: 10px;
    top: 10px;
  }
}


.cardBox {
  display: flex;
  flex-direction: column;
  flex: 60%;

  & h6 {
    //margin-top: 10px;
  }

}

.img {
  margin: 20px;
  width: calc(100% - 40px) !important;
  flex: 40%;
  object-fit: cover;
  height: 300px !important;
}

.cardContent {
  flex: 1 0 auto;
  position: relative;
  padding-bottom: 10px !important;

  & .starContainer {
    position: absolute;
    left: -10px;
    top: -5px;
  }
}